{% extends 'base.html.twig' %}

{% block body %}
    <body style="background: #f2f2f2; margin: 0; font-family: NiveauGroteskRegular,Helvetica,Arial,sans-serif">
        <div class="get_user_data">
            <h3 style="margin: 0 0 15px 0;">Benutzer suchen</h3>
            <form action="{{ path('app_frontend_index') }}" method="post">
            <div>
                <label>Vorname</label><br>
                <input type="text" name="fname" style="margin-top: 5px;">
            </div>
            <div>
                <label>Nachname</label><br>
                <input type="text" name="lname">
            </div>
            <div>
                <label>E-Mail</label><br>
                <input type="text" name="email">
            </div>
            <input type="submit" name="submit" value="Suchen"><br>
            </form>
        </div>

        {% if var == '0' %}

        {% else %}
            {% if var is empty %}
                <div class="body">
                    <div class="message"><div class="failure" style="background-color: red; color: white; padding: 10px; margin: 10px 0px; border-radius: 3px;">
                    <i class="fas fa-times" style="float: right;"></i>
                    <h3 style="margin: 0px 0px 5px 0px;">Fehlermeldung</h3>
                    <p style="margin: 0;">Leider wurde der Nutzer nicht gefunden.</p>
                </div>
            {% else %}
                <div class="user_overview">
                    <button style="margin: 0px 0px 10px 0px"><i class="fas fa-file-download"></i> Liste als CSV-Datei downloaden</button>
                    <table>
                        <tbody>
                            <tr>
                                <th>Vorname</th>
                                <th>Nachname</th>
                                <th>E-Mail</th>
                                <th>Rolle</th>
                                <th></th>
                            </tr>
                            {% for foundusers in var %}
                                <tr>
                                    <td>{{ foundusers.first_name }}</td>
                                    <td>{{ foundusers.last_name }}</td>
                                    <td>{{ foundusers.email }}</td>
                                    <td>{{ foundusers.role_id }}</td>
                                    <td><a href="/show_user_{{ foundusers.user_id }}"><button><i class="fas fa-user-edit"></i> Details</button></a>
                                        <a href="/delete_{{ foundusers.user_id }}"><button><i class="fas fa-user-minus"></i> Benutzer löschen</button></a>
                                    </td>
                                </tr>
                             {% endfor %}
                    </tbody>
                    </table>
                </div>
             {% endif %}
        {% endif %}
        <style>

        </style>
    </body>

{% endblock %}