{% extends 'base.html.twig' %}

{% block body %}
    Das ist user {{ userID }}
    <h1>Members</h1>
    {% if update %}
        update durchgeführt
    {% endif %}
    <form action="" method="post">
        Nachname<input type="text" name="lname" value="{{ user.last_name }}"><br>
        Vorname<input type="text" name="fname" value="{{ user.first_name }}"><br>
        Mail<input type="text" name="email" value="{{ user.email }}"><br>
        Rolle<input type="text" name="role" value="{{ user.role_id }}"><br>
        <button type="submit">Bearbeiten</button>
    </form>

    <a href="{{ path('app_frontend_index') }}">Zurück</a>
{% endblock %}